QWidget {
    background-color: #212121; /* Dark background */
    color: #e0e0e0; /* Light text color */
    font-family: 'Arial', sans-serif;
}

QPlainTextEdit {
    background-color: #303030; /* Slightly lighter background for text area */
    color: #e0e0e0; /* Light text color in text area */
    border: 1px solid #707070; /* Border color */
}

QPushButton {
    background-color: #ff4500; /* Iron Man suit color */
    color: #ffffff; /* White text color */
    padding: 8px;
    border: 1px solid #ff4500; /* Border color */
    border-radius: 4px;
    font-size: 16px; /* Button text size */
}

QPushButton:hover {
    background-color: #e63900; /* Darker shade on hover */
}

QStatusBar {
    background-color: #2c2c2c; /* Dark status bar background */
    color: #e0e0e0; /* Light text color in the status bar */
}

QToolBar {
    background-color: #2c2c2c; /* Dark toolbar background */
    border: 1px solid #707070; /* Toolbar border color */
}

QToolBar QToolButton {
    background-color: #404040; /* Darker button color in the toolbar */
    color: #e0e0e0; /* Light text color on toolbar buttons */
    border: 1px solid #707070; /* Button border color */
    border-radius: 4px;
}

QToolBar QToolButton:hover {
    background-color: #303030; /* Darker shade on toolbar button hover */
}

QToolBar QLabel {
    color: #e0e0e0; /* Light text color on toolbar labels */
}